* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* fonts and colors */

.title {
    font-size: 34px;
    font-weight: 600;
}

/* wrapper */

.wrapper {
    display: flex;
}

/* sidebar */

.sidebar {
    position: fixed;
    width: 20vw;
    height: 100vh;
    border: 1px solid black;
    background-color: #f6f6f6;
}

.sidebar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sidebar-nav-item {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: .5s;
}

.sidebar-nav-item:hover {
    background-color: #c32055;
    cursor: pointer;
    color: white;
}

.nav-link{
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: gray;
    font-size: 20px;
    transition-duration: .5s;
}

.nav-link:hover {
    color: white;
}

.dashboard-icon {
    font-size: 20px;
}

/* main content */

.main-content {
    margin-left: 20vw;
    position: static;
    width: 80vw;
    height: 100vh;
    background-color:#eaeaea;
}

.main-content-title {
    padding-left: 50px;
    padding-top: 30px;
}